.jumbotron {
    background-image: url("../images/zoo-title.png");
    background-size: cover;
    background-color: #00bfff;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h2,
h3 {
    color: #00bfff;
}

.animal-Btn,
#add-animals {
    text-align: center;
    padding: 10px;
    margin: 5px;
}